@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
body, html{
	font-family: 'Karla', sans-serif;
	padding: 0;
	margin: 0;
}


h1{
	font-weight: 700;
	font-size: 50px;
}

h2{
	font-weight: 700;
	font-size: 50px;
}

h3{
	font-weight: bold;
	font-size: 30px;
}

h4{
	font-weight: bold;
	font-size: 20px;
}

p{
	font-weight: 400;
	font-size: 18px;
	margin: 30px 0;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.hero-banner{
	background: url('assets/Background.png');
	background-size: 100%;
	min-height: 100vh;
	padding: 150px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;
}

.hero-banner h4{
	color: white;
	margin: 0;
}

.character1{
	background: url('assets/character1.png') no-repeat 0 0;
	background-size: 100%;
	width: 1289px;
	height: 804px;
	position: absolute; top: 0; right: 80px;
	z-index: -1;
}

.character2{
	background: url('assets/character2.png') no-repeat 0 0;
	background-size: 100%;
	width: 531px;
	height: 800px;
	position: absolute; top: 0px; left: 900px;
}

.character3{
	background: url('assets/character3.png') no-repeat 0 0;
	background-size: 100%;
	width: 533px;
	height: 270px;
	position: absolute; bottom: -15px; left: -15px;
}

.character4{
	background: url('assets/character4.png') no-repeat 0 0;
	background-size: 100%;
	width: 245px;
	height: 220px;
	position: absolute; right: 325px; top: 325px;
}

a.cta, button.cta{
	font-size: 20px;
	font-weight: 700;
	color: white;
	letter-spacing: 2px;
	background: #E4117C;
	display: inline-block;
	padding: 20px 30px;
	border-radius: 2px;
	text-decoration: none;
	border: none;
}

a.cta, button.cta.alt{
	background-color: #E4117C;
}

nav {
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
	position: sticky;
	top: 0;
}

nav .logo{
	display: block;
	width: 100px;
	height: 40px;
	position: absolute; top: 50%; left: 0;
	margin-top: -10px;
	margin-left: 30px;
	background: url('assets/obelix_logo.png') no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
	text-indent: -999px;
}

nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding: 40px 10px;
	line-height: 16px;
}

.more-info{
	text-align: center;
}

.more-info p{
	margin-top: 18px 0 35px;
}

.more-info h2{
	margin: 50px 0 0;
}


.highlight{
	background-color: #BBC7FF;
	padding: 5px 10px;
	line-height: 28px;
	display: inline;
	font-weight: 700;
}


/* <div class="more-info" id="more-info">
		<h2>Become Part Of The Journey</h2>
		<p>Every week <span class="highlight">discover</span> a new city, neighborhood, park with Obelix. Let’s explore the world through Obelix’s eyes.</p>
		<button class="cta">Join</button>
	</div> */
