@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
body, html{
	font-family: 'Karla', sans-serif;
	padding: 0;
	margin: 0;
}


h1{
	font-weight: 700;
	font-size: 50px;
}

h2{
	font-weight: 700;
	font-size: 50px;
}

h3{
	font-weight: bold;
	font-size: 30px;
}

h4{
	font-weight: bold;
	font-size: 20px;
}

p{
	font-weight: 400;
	font-size: 18px;
	margin: 30px 0;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.hero-banner{
	background: url('assets/Background.png');
	background-size: 100%;
	min-height: 100vh;
	padding: 150px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;
}

.hero-banner h4{
	color: white;
	margin: 0;
}

.character1{
	background: url('assets/character1.png') no-repeat 0 0;
	background-size: 100%;
	width: 1289px;
	height: 804px;
	position: absolute; top: 0; right: 80px;
	z-index: -1;
}

.character2{
	background: url('assets/character2.png') no-repeat 0 0;
	background-size: 100%;
	width: 531px;
	height: 800px;
	position: absolute; top: 0px; left: 900px;
}

.character3{
	background: url('assets/character3.png') no-repeat 0 0;
	background-size: 100%;
	width: 533px;
	height: 270px;
	position: absolute; bottom: -15px; left: -15px;
}

.character4{
	background: url('assets/character4.png') no-repeat 0 0;
	background-size: 100%;
	width: 245px;
	height: 220px;
	position: absolute; right: 325px; top: 325px;
}

a.cta, button.cta{
	font-size: 20px;
	font-weight: 700;
	color: white;
	letter-spacing: 2px;
	background: #E4117C;
	display: inline-block;
	padding: 20px 30px;
	border-radius: 2px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	outline: none;
}

a.cta:active,
button.cta:active{
	opacity: .7;
}

a.cta, button.cta.alt{
	background-color: #E4117C;
}

nav {
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
	position: sticky;
	top: 0;
	z-index: 1;
}

nav .logo{
	display: block;
	width: 100px;
	height: 40px;
	position: absolute; top: 50%; left: 0;
	margin-top: -10px;
	margin-left: 30px;
	background: url('assets/obelix_logo.png') no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
	text-indent: -999px;
}

nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding: 40px 10px;
	line-height: 16px;
}

.more-info{
	text-align: center;
}

.more-info p{
	margin-top: 18px 0 35px;
}

.more-info h2{
	margin: 50px 0 0;
}

.highlight{
	background-color: #BBC7FF;
	padding: 5px 10px;
	line-height: 28px;
	display: inline;
	font-weight: 700;
}

.sep{
	width: 470px;
	height: 1px;
	background-color: #F9F9F9;
	margin: 70px auto;
}

.story h3{
	font-size: 40px;
}

.nb-list{
	width: 470px;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
	background-color: #F7F7F7;
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
}

.nb-list li{
	height: 70px;
	border-radius: 2px;
	font-size: 20px;
	line-height: 20px;
	color: white;
	font-weight: 700;
	display: block;
	margin-bottom: 20px;
	padding: 25px;
	box-sizing: border-box;
}

.nb-list li.teal{
	background-color: #26E0EA;
}

.nb-list li.grey{
	background-color: rgba(0, 0, 0, .1);
}

.nb-list li.black{
	background-color: #000000;
	color: white;
}

.nb-list li.blue{
	background-color: #2047EF;
}

.nb-list li.mustard{
	background-color: #FAA700;
}

.nb-list li.dragging{
	position: absolute;
	top: 70px;
	left: 70px;
	right: -30px;
	transform: rotate(6deg);
	box-shadow: 0 2px 14px rgba(0, 0, 0, .3);
}

.obelix-img{
	display: block;
	margin: 0 auto;
}

footer{
	text-align: center;
	color: rgba(0, 0, 0, .4);
	margin: 85px 0 45px 0;
}

footer a{
	color: #E4117C;
	text-decoration: none;
}

.popup{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.popup.show{
	display: block;
}

.popup .blanket{
	background-color: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.popup .content{
	box-sizing: border-box;
	padding: 30px 40px;
	width: 960px;
	height: 540px;
	background-color: white;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -270px;
	margin-left: -480px;
}

.popup h2{
	margin: 15px 0 40px;
}

.popup .cta{
	margin-top: 40px;
}
.popup .close{
	width: 80px;
	height: 80px;
	background: url('assets/close.png') no-repeat center center;
	background-size: 30%;
	position: absolute;
	top: -40px;
	right: -40px;
	overflow: hidden;
	text-indent: -999px;
	margin: 50px;
	outline: none;
	border: none;
	cursor: pointer;
}

.popup .row:after{
	content: '';
	display: table;
	clear: both;
	margin-bottom: 10px;
}

.popup .item{
	float: left;
	width: 415px;
	margin-left: 40px;
	text-align: left;
}

.popup .item:first-child{
	margin-left: 0;
}

.popup .item label{
	display: block;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.popup .item input[type='text']{
	display: block;
	font-size: 16px;
	font-weight: 400;
	border: 2px solid;
	height: 70px;
	box-sizing: border-box;
	width: 100%;
	padding: 15px 20px;
}
/* <div class="pop-up"></div>
		<div class="blanket"></div>
		<div class="content"></div>
			<h2>Fill In Your Details</h2>
			<form action="">
				<div class="item">
					<label>Your First Name</label>
					<input type="text" placeholder="Awesomeface" value="John">
				</div>
				<div class="item">
					<label>Your Last Name</label>
					<input type="text" placeholder="Smith">
				</div>
				<div class="item">
					<label>Your Favorite Color</label>
					<input type="text" placeholder="Green">
				</div>
				<div class="item">
					<label>Your Favorite Food</label>
					<input type="text" placeholder="Cheese">
				</div>
				<button class="cta">I Want In!</button>
			</form>
			<button class="close">Close</button> */